* {
  box-sizing: border-box;
}
//NAV
li a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav-container svg {
  width: 2.5rem;
}
.nav-container ul {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}
.nav-container h1 {
  font-size: 16px;
  margin: 0;
}
.nav-container li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//HEADER
.header {
  padding: 2px;
  background-color: #f9fafb;
  display: flex;
  gap: 5px;
  align-items: center;
}
.header img,
.header svg {
  width: 5rem;
}
.header .logo {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
}
.header .fname {
  font-size: 16px;
  font-weight: 700;
}
.header .mId {
  font-size: 12px;
  font-weight: 500;
}
